nav {
 padding: 0 15px;
 width: 100%;
}

.date-sort, .alpha-sort {
    color: black;
}

.hide {
    display: none;
}

#nav-search-input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.article-content {
    padding-left: 20px;
}

.article-content a {
    white-space: normal;
}